# Specify the active profile
spring.profiles.active=dev

# Application Configuration
spring.application.name=product-service
server.port=8081

# Database Configuration
spring.servlet.multipart.enabled=true
spring.datasource.username=postgres
spring.datasource.password=example
spring.datasource.url=jdbc:postgresql://localhost:5432/product-api-db
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true

# PGAdmin credentials
pgadmin.email=admin@example.com
pgadmin.password=admin

# Spring Kafka configurations
spring.kafka.bootstrap-servers=localhost:9092

# Kafka Topic Configurations
topic.customerCreated=customer-created-topic
topic.customerUpdated=customer-updated-topic
topic.customerDeleted=customer-deleted-topic